body {
    display: flex;
    font-family: 'Poppins', sans-serif;
}

:root {
    --blue: #3F53AA;
    --lightBlue: #91A6FF;
    --green: #50C37E; 
    --white: #FFF;
}

html {
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: var(--lightBlue);
    text-align: center;
}

.titulo p{
    font-size: 1.5rem;
    color: black;
}

.tabelaFuncionarios table {
    border-radius: 15px;
    box-shadow: -6px 6px 4px #8888;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    background-color: rgb(248, 248, 248);
}

.tabelaFuncionarios th{
    color: var(--lightBlue);
    padding: 1rem;
}

.tabelaFuncionarios tr{
    border-bottom: var(--lightBlue) solid 2px;
}

