body {
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.setor{
    display: flex;
    align-items: center;
}

.setor span{
    color: var(--green);
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    height: 80vh;
    margin-left: 50px;
}

.dashboard::-webkit-scrollbar {
    width: 10px;              
}
  
.dashboard::-webkit-scrollbar-track {
    background: #becaff;        
}
  
.dashboard::-webkit-scrollbar-thumb {
    background-color: #3F53AA;   
    border-radius: 20px;      
    border: 2px solid #becaff;  
}

.dashboard > div {
    width: 40%;
}
