body {
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.setor{
    display: flex;
    align-items: center;
}

.setor span{
    color: var(--green);
}

.dashboard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    height: 90vh;
    margin-left: 50px;
}

#conteudoGrafico {
    display: flex;
    width: 42vw;
    height: 42vh;
    background-color: #a1a1a113;
    border-radius: 12px;
}

.informacoesGrafico {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}

.temperatura {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 4px 2px 4px #8888;
    border-radius: 12px;
    width: 11vw;
    height: 12vh;
}

.temperatura h3 {
    font-size: 15px;
    margin: 5px 5px;
    align-self: center;
}

.informacoesTemperatura {
    display: flex;
    justify-content: center;
}

.informacoesTemperatura img{
    height: 70px;
}

.grauAtual {
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 2px 3px #8888;
    width: 5vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.temperatura h4 {
    font-size: 12px;
    margin: 5px 5px;
    align-self: center;
    width: 160px;
}

.minimoMaximo {
    display: flex;
    justify-content: space-around;
}

.minimoMaximo h5{
    margin: 0;
}

.quadradinhoTemp {
    display: flex;
    justify-content: space-around;
}

.quadradinho1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 4vw;
    height: 4vh;
    box-shadow: 2px 2px 3px #DF3939;
    border-radius: 8px;
}

.quadradinho2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 4vw;
    height: 4vh;
    box-shadow: 2px 2px 3px #10D860;
    border-radius: 8px;
}

.areaGrafico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38vw;
}

#graficoLinha {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 28vw;
    height: 40vh;
    border-radius: 15px;
}

#graficoBarra {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 28vw;
    height: 40vh;
    border-radius: 15px;
}

.temperaturaAlerta {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF0000;
    box-shadow: 4px 2px 3px #db5555d8;
    border-radius: 12px;
    width: 11vw;
    height: 14vh;
}

.temperaturaAlerta h3 {
    color: #FAFF00;
    font-size: 14px;
    margin-bottom: 5px;
}

.temperaturaAlerta p {
    color: white;
    font-size: 13px;
    width: 190px;
}

.umidadeAlerta {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #50C37E;
    box-shadow: 4px 2px 3px #61c287c7;
    border-radius: 12px;
    width: 11vw;
    height: 14vh;
}

.umidadeAlerta h3 {
    color: white;
    font-size: 14px;
    margin-bottom: 5px;
}

.umidadeAlerta p {
    color: white;
    font-size: 13px;
    width: 190px;
}

#imgBarra1 {
    height: 60px;
}

#imgBarra2 {
    height: 60px;
}

.grauAtualBarra {
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 2px 3px #8888;
    width: 5vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.informacoesBarra{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d1d1d1;
    box-shadow: 4px 2px 3px rgba(199, 199, 199, 0.596);
    border-radius: 12px;
    width: 11vw;
    height: 14vh;
}

.informacoesBarra h3{
    color: #000000;
    font-size: 14px;
    margin-bottom: 5px;
}

.informacoesBarra p {
    color: rgb(0, 0, 0);
    font-size: 13px;
    width: 180px;
}

.dashboard::-webkit-scrollbar {
    width: 10px;              
}
  
.dashboard::-webkit-scrollbar-track {
    background: #becaff;        
}
  
.dashboard::-webkit-scrollbar-thumb {
    background-color: #3F53AA;   
    border-radius: 20px;      
    border: 2px solid #becaff;  
}

.dashboard > div {
    width: 30%;
}
