@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --blue: #3F53AA;
    --lightBlue: #91A6FF;
    --green: #50C37E; 
    --white: #FFF;
}

html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 10px;              
}
  
body::-webkit-scrollbar-track {
    background: #becaff;        
}
  
body::-webkit-scrollbar-thumb {
    background-color: #3F53AA;   
    border-radius: 20px;      
    border: 2px solid #becaff;  
}

.header {
    background-image: linear-gradient(to left, var(--lightBlue) , var(--blue));
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 5;
}

.header .container {
    height: 100px;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
    width: 130px;
    height: 80px;
    margin-bottom: 10px;
}

.header .container {
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    width: 700px;
    justify-content: space-around;
    list-style: none;
}

.itemLista a{
    text-decoration: none;
    color: var(--white);
    font-size: 22px;
    font-family: 'League Spartan', sans-serif;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.itemLista a:hover{
    color: var(--blue);
    padding: 5px 10px;
    background-color: var(--white);
    border-radius: 8px;
    transition: 250ms;
}

.areaCliente a{
    text-decoration: none;
    color: var(--white);
    font-size: 22px;
    font-family: 'League Spartan', sans-serif;
    transition: all .4s ease-in-out;
    cursor: pointer;
    padding: 12px 10px;
    background-color: #338f57;
    border-radius: 8px;
}

.areaCliente a:hover {
    background-color: #04a745d0;
    transition: 250ms;
}


#home {
    background-image: url(../assets/img/fundoHome.png);
    height: 100vh;
}

.textoHome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 750px;
    height: 450px;
    margin-top: 160px;
}

.textoHome h1{
    font-family: 'League Spartan', sans-serif;
    color: var(--lightBlue);
    font-size: 80px;
    margin: 0;
}

.tituloVerde {
    color: var(--green);
}

.medicoHome {
    margin-top: 160px;
    height: 640px;
}

#home .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}

.textoHome p {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    width: 730px;
}

.botaoHome {
    background-color: var(--lightBlue);
    border:none!important;
    border-radius: 15px;
    height: 70px;
    color: var(--white);
    width: 350px;
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 12px  #a8b8ff;
    transition: 200ms;
}

.botaoHome:hover{ 
    box-shadow: 5px 5px 12px 5px #a8b8ff;
    margin-left: 3px;
}


#informacoes{
    height: 100vh;
}

#informacoes .container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.fundoAlerta {
    background-image: linear-gradient(to left, var(--lightBlue) , var(--blue));
    height: 650px;
    width: 550px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
}

.fundoAlerta:hover {
    margin-right: 3px;
    margin-bottom: 3px;
    transition: all .5s ease-in-out;
    box-shadow: 5px 5px 10px 2px #505677;
}

#medicoInformacoes {
    margin-top: 50px;
    width: 570px;
}

.textoAlerta h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: var(--lightBlue);
    margin: 10px 0px;
}

.textoAlerta ul {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    font-weight: 500;
}

.dadoVermelho {
    color: #FF5252;
    font-size: 30px;
    font-weight: 800;
}

.textoAlerta h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: var(--lightBlue);
    width: 80%;
}

.textoAlerta {
    width: 84%;
}

.textoAlerta ul {
    padding-left: 20px;
}

.textoAlerta p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: var(--white);
}

.fundoAlerta ::before {
    content: '';
    background-image: url(../assets/img/alerta\ 1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 120px;
    height: 120px;
    top: -50px;
    right: -35px;
    
}

#simulador {
    height: 90vh;
    background-image: linear-gradient(to right, rgba(41,70,194, 0.60), rgba(105,217,150));
}

#simulador .container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.textoSimulador {
    display: flex;
    flex-direction: column;
}

.textoSimulador h1{
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    font-size: 65px;
}

.textoSimulador p{
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    font-size: 23px;
    width: 630px;
    margin: 0;
}

.botaoSimulador {
    background-color: #50C37E;
    border:none!important;
    border-radius: 15px;
    height: 70px;
    color: var(--white);
    width: 350px;
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease-in-out;
    box-shadow: -5px 5px 12px  #419e66;
}

.botaoSimulador:hover{ 
    box-shadow: -5px 5px 12px 5px #419e66;
    margin-left: 2px;
    margin-bottom: 2px;
}

.simuladorDinheiro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 650px;
}

.medicoSimulador {
    height: 710px;
}

.blob {
    display: flex;
    justify-content: center;
    background-image: url(../assets/img/blob.svg);
    width: 600px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}

#faleConosco {
    height: 90vh;
}

#faleConosco .container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#form {
    background-color: rgb(94, 114, 202, 0.04);
    width: 550px;
    height: 700px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudoForm {
    display: flex;
    width: 80%;
    flex-direction: column;
}

.textoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudoForm h3 {
    font-family: 'Poppins', sans-serif;
    color: var(--lightBlue);
    font-size: 48px;
    margin: 0px 0 5px 0;
}

.conteudoForm p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    text-align: center;
}

.inputFaleConosco , .mensagem {
    background-color: #DEDEDE;
    border: none;
    height: 50px;
    margin: 15px 0;
    border-radius: 8px;
    padding-inline: 10px;
    outline: none;
    font-family: 'Poppins', sans-serif;
}


.mensagem{
    height: 160px !important;
    resize: none;
    padding: 15px 10px;
    font-family: 'Poppins', sans-serif;
}


.inputForm {
    display: flex;
    flex-direction: column;
}

.botaoForm {
    background-color: var(--lightBlue);
    color: var(--white);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    height: 45px;
    border: none;
    border-radius: 8px;
    width: 60%;
    align-self: center;
    margin-top: 15px;
}

#medicoFaleConosco {
    height: 600px;
}

#footer {
    background-image: linear-gradient(to left, var(--lightBlue) , var(--blue));
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
}

#footer li {
    list-style: none;
}

#footer a {
    font-weight: 300;
}

#footer ul {
    padding: 0;
}

.listaFooter {
    display: flex;
    justify-content: space-around;
    width: 700px;
}

#imgGithub {
    width: 35px;
}

#imgInstagram {
    width: 35px;
    margin-left: 15px;
}

#imgLinkedin {
    width: 35px;
    margin-left: 15px;
    margin-right: 15px;
}

#imgTwitter {
    width: 35px;
}

.redesSociais {
    display: flex;
    align-items: flex-start;
    height: 13vh;
}

input {
    padding: 15px 20px;
    margin-block: 15px;
    
    border-radius: 10px;
    border: 4px solid #7e96ff;

    color: var(--lightBlue);
    
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;

    transition: 200ms;
}

input:focus {
    outline: none;
    box-shadow: 2px 3px 10px 0px #a8b8ff;
}

textarea {
        padding: 15px 20px;
        margin-block: 15px;
        
        border-radius: 10px;
        border: 4px solid #7e96ff;
    
        color: var(--lightBlue);
        
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
    
        transition: 200ms;
}

textarea:focus {
    outline: none;
    box-shadow: 2px 3px 10px 0px #a8b8ff;
}